#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 1000px;
    padding: 20px;
    border: 2px solid black;
}

#BANNER {
    flex-basis: 300px;
    width: 700px;
    font-size: 100px;
    text-align: center;
    color: blue;
}

#CONTENT {
    flex-basis: 600px;
    width: 1000px;
    font-size: 30px;
    color: red;
}

#DOCKER {
    display: flex;
    flex-direction: row; 
    flex-basis: 300px;
}

.cont {
    width: 200px;
    height: 150px;
    border: 2px solid black;
}